<% @posts.each do |post| %>
    <div class="card mt-3 post">
        <div class="card-header d-flex align-items-center">
            <%= link_to user_path(post.user), class: "no-text-decoration" do %>
                <%= image_tag avatar_url(post.user), class: "post-author-icon" %>
            <% end %>
            <%= link_to user_path(post.user), class: "normal-color no-text-decoration",
                title: post.user.name do %>
                <strong><%= post.user.name %></strong>
            <% end %>
        </div>

        <div></div>

        <div class="card-body">
            <div class="row actions">
                <a href="core-sprite love hide-text"> Love </a>
                <a href="core-sprite comment hide-text"> Comment </a>
                <a href="core-sprite bookmark hide-text"> Bookmark </a>
            </div>
        </div>
        <div><strong><%= pluralize(16, "like") %></strong></div>
        <div>
            <span><strong><%= post.user.name %></strong></span>
            <span><%= post.content %></span>
        </div>
        <div class="light-color post-time"><%= time_ago_in_words(post.created_at).upcase %>AGO</div>
        <hr>
        <div class="row actions">
            <form action="#" class="w-100">
                <div>
                    <textarea class="form-control comment-input border-0" placeholder="Add a comment ..." rows="1"></textarea>
                </div>
            </form>
        </div>
    </div>
<%end%>